@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
@keyframes blink {
  0%, 100% { opacity: .8; }
  50% { opacity: 0.5; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.icon img {
  animation: spin 5s ease-in-out infinite; 
  width: 1rem;

}
#animated-icon {
  position: absolute !important;
  top:2rem ;
  left: .3rem;
  /* opacity: 0.8; */
}
#static-icon img {
  /* animation: none; */
  width: 5rem;}
#static-icon {
  position: absolute ;
 /* height:.5rem ; */
  bottom: 0rem;
  right: 0rem;
  animation: blink 5s ease-in-out infinite; 
  /* opacity: 0.3; */
  /* display: none; */
  z-index: 0;
}
.hero-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 3.75rem;
  min-height: 100vh;
  background: #f8fafc;
  overflow: hidden;
  ;
}

/* BACKGROUND IMAGES */
.bg-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15.625rem;
  opacity: 0.15;
}

.bg-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 21.875rem;
  opacity: 0.1;
}

/* LEFT */
.hero-left {
  width: 60%;
  height: 100%;
  z-index: 2;
  /* background-color: #475569; */
  display: flex;
  gap:5rem;
  position: relative; 
    /* display: flex; */
  
}

.hero-left h1 {
  font-size: 7rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  line-height: 1.2;
}

.hero-left p {
  font-size: 2.5rem;
  color: #475569;
  margin-bottom: 1.5625rem;
}

.hero-left button {
  padding: 0.75rem 1.625rem;
  border: 2px solid;
  background: transparent;
  border-radius: 1.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

}

.hero-left button:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* RIGHT TYPOGRAPHY */
.hero-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 26.25rem;
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 0.8;
  z-index: 2;
  order: 2;
  position: relative;
  
}

/* LETTER */
.big-letter {
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  font-size: 14rem;
  position: relative;
  z-index: 2;
}
.text{
  /* style="--bg-color: red;" */
  text-shadow: var(--shadow-color) 0px 7px 29px 0px;
}

/* ACTIVE */
.big-letter.active {
  transform: scale(1.15);
}

/* ICON */
.icon {
  position: absolute;
  font-size: 1.875rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-right img{
  width: 30%;
  height: 30%;
  opacity:30%;
  /* filter: invert(100%); */
  border-radius: 100%;
  display: 
  flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}
.hero-image{
  width: 1
  0rem;
  position: absolute;
  top: -8rem;
  right: -5rem;
}
.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 30%;
}
.fadeIn{
  animation: fadeIn 1s ease-in-out;
}

/* 
.left-text-container p , .left-text-container h1{
  animation: fadeIn 4s ease-in-out;
  

} */

/* ========================= */
/* 📱 RESPONSIVE DESIGN */
/* ========================= */

@media (max-width: 1024px) {
  .hero-container {
    padding: 3.75rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .hero-left h1 {
    font-size: 3.5rem;
  }
  .hero-left p {
    font-size: 2rem;
  }

  .hero-right {
    font-size: 5.625rem;
    order: 1;
    margin-bottom: 6rem;
  }
  .hero-left{
    order: 2;
  }
}

@media (max-width: 768px) {
  #animated-icon{
    top: 10rem;
    left:1rem;
    opacity: 30%;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 3.125rem 1.25rem;
    gap: 0;
  }

  .hero-left {
    width: 100%;
    /* margin-bottom: 2.5rem; */
    text-align: center;
    /* margin-right: 4rem; */
  }
.hero-image{
  display: none;
}
  .hero-left h1{
    font-size: 2.8rem;
  }

  .hero-right {
    justify-content: center;
    font-size: 4.375rem;
    justify-self: flex-start;
    margin-top: 4rem;
  }
  .big-letter{
    font-size: 5rem
  }

  .bg-left,
  .bg-right {
    width: 9.375rem;
  }
  .hero-image{
  top: 3rem;
  width: 10rem;
}
}


@media (max-width: 480px) {
  

  .hero-right {
    font-size: 3.125rem;
  }

  .icon {
    font-size: 1.25rem;
  }
}