.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1.5rem;
  font-family: "Mozilla Headline", sans-serif;

  /* soft background (no black) */
  background: linear-gradient(180deg, #f7fbff, #ffffff);
  /* background-color: ; */
}

/* TITLE */
.our-services h3 {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: var(--danger-color) !important;
  text-align: center;
}

/* GRID */
.service-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

/* CARD */
.service-card {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  cursor: pointer;

  background: #ffffff;
  border: 1px solid #e5e7eb;

  transition: all 0.3s ease;
}

/* IMAGE */
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* HOVER EFFECT */
.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(37, 99, 235, 0.15);
  border-color: #c7d2fe;
}

.service-card:hover img {
  transform: scale(1.1);
}

/* OVERLAY (LIGHT GRADIENT) */
.service-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.1)
  );
    transition: all 0.3s ease
}
.service-card:hover .service-overlay {
  background: rgba(0, 0, 0, 0.267);
  transition: all 0.3s ease;
}

.service-card:hover .service-overlay p {
  color: #f9fafb;
  transition: all 0.3s ease;
}
/* TEXT */
.service-overlay p {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1f2937;
  text-align: center;

}

/* FEATURED CARD BIGGER */
.service-card--featured {
  grid-column: span 2;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .our-services h3 {
    font-size: 2.5rem;
  }

  .service-card--featured {
    grid-column: span 1;
  }
}